.container-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; /*calc(100% - 54px); if fixed navbar*/
  /* margin-top: 54px; navbar height */
  background-color: #212529;
}
/* .navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
} */
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
.dropdown-item {
  padding: 0;
  padding-right: 0.25rem;
}
.dropdown-menu {
  padding: 0.25rem 0;
  max-height: 30vh;
  overflow-y: auto;
}
.dropdown-item a {
  padding: 8px 12px;
  flex-grow: 1;
}
.back-button {
  margin-bottom: 0.5em;
  border: none;
}
.back-button:hover {
  background-color: inherit;
  border: inherit;
}
.back-button i {
  margin-right: 0.5em;
}
